body {
    background-color: #0D96FA;
}
.white-text {
    color: #ffffff;
}
.centered {
    text-align: center;
    margin: 0 auto;
}

h6 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a[href*="music"] {
    color: #0000aa;
}

.coding {
    color: #aa0000;
}

#photos {
    color: #00aa00;
}

#mybutton {
    size: auto;
}
