{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Action</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
        <th scope="col">Shares</th>
        <th scope="col">Total Value</th>
        <th scope="col">Timestamp</th>
    </tr>
    {% for trans in transactions %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ trans.action }}</td>
        <td>{{ trans.symbol }}</td>
        <td>${{ trans.price | usd }}</td>
        <td>{{ trans.shares }}</td>
        <td>${{ trans.total | usd }}</td>
        <td>{{ trans.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}